html,body {
  margin: 0;
}

body {
  height: 5000px;
}

.container {
  position: absolute;
  width: 100%;
}

h2 {
  color: white;
  font-size: 36px;
}

.bg {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -5;
}